html
body {
    height:100%;
    margin:0; 
    padding:0; 
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
}

body {
    color: rgb(66, 65, 65);
}

footer {
    background-color: rgb(233, 208, 203);
    color: rgb(66, 65, 65);
    width: 100%;
    padding: 15px 30px;
    margin-top: 100px;
    margin-bottom:0;
    bottom: 0px;
    font-size: 13px;
    text-align: center;
    position: relative;
}

.nav {
    width: 100%;
}

.navbar-brand, .nav-link, .navbar-brand:hover, .nav-link:hover{
    text-decoration : none;
    color: black;
}

.navbar-brand{
    margin-right: 0;
}

.nav-link:hover{
    background: rgb(211, 209, 209);
}

.title-logo{
    padding-left: 20px;
    font-family: 'Poiret One', cursive;
    font-size: 30px;
}

nav {
    background-color: white;
    font-family: 'Poiret One', cursive;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.jumbotron {
    background-image: url("https://images.agoramedia.com/everydayhealth/gcms/What-Is-a-Plant-Based-Diet-Beginners-Guide-Food-List-Benefits-722x406.jpg");
    text-shadow: 1px 0px 10px rgb(0, 0, 0);
    color: white;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 350px;
    margin-top: 20px;
    border-radius: 0;
    padding-top:13%;
}

.contentImg {
    height: 190px;
}

#searchBtn {
    color: white;
}

/* FRIDGE.html */
.ingredient-input {
    padding: 15px 10px;
    background: rgb(141, 140, 140);
}

.input-title{
    color: white;
    font-size: 20px;
}

.submitIngreBtn {
    background: rgb(0, 0, 0);
    color: white;
    border-radius: 2rem;
    margin-top: 10px;
}

.submitIngreBtn:hover {
    background: rgb(233, 208, 203);
    color: black;
    border: 1px solid black;
}

.category{
    background: rgb(233, 208, 203);
    color: rgb(58, 58, 58);
    font-size: 18px;
}

.vegi-btn:hover{
    background: rgba(100, 224, 100, 0.548);
}
.fruit-btn:hover{
    background: rgba(224, 149, 100, 0.548);
}
.dairy-btn:hover{
    background: rgba(224, 211, 100, 0.548);
}
.meat-btn:hover{
    background: rgba(224, 100, 100, 0.548);
}
.seafood-btn:hover{
    background: rgba(100, 149, 224, 0.548);
}
.others-btn:hover{
    background: rgba(108, 100, 224, 0.548);
}

.item-by-category{
    background: rgba(218, 212, 210, 0.479);
}

.yourFridge {
    font-family: 'Poiret One', cursive;
    border-bottom: 1px solid lightgray; 
    line-height: 0.1em;
    margin: 10px 0 20px;
    margin-bottom: 30px;
}
.fridge-title{
    background:#fff; 
    padding:0 10px; 
}
.delete-btn {
    border: 1px solid red;
    background: red;
    color: white;
    border-radius: 3px;
}
.delete-btn:hover{
    color: red;
    background: white;
    border: 1px solid red;
}

@media (min-width: 330px) {
    .category {
        margin-left: 4px;
        margin-right: 4px;
    }
}
@media (max-width: 576px)
{
    #renderItem {
        height: 350px;
    }
    .nav {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .category {
        margin-left: 8px;
        margin-right: 8px;
    }
    .category {
        font-size: 25px;
    }
    .nav {
        width: 90%;
    }
}

/* RECIPE.html */
#jumbotron2 {
    background-image: url("https://honestcooking.com/wp-content/uploads/2015/09/shutterstock_198603584.jpg");
    height: 250px;
    padding-top:10%;
}

#subtitle {
    font-family: 'Poiret One', cursive;
    border-bottom: 1px solid lightgray; 
    line-height: 0.1em;
    margin: 10px 0 20px;
    margin-bottom: 50px;
    margin-top: 100px;
}

h2 span { 
    background:#fff; 
    padding:0 10px; 
}

.card{
    margin: 2%;
    height: 400px;
}

#recipeTitle {
    color: rgba(218, 156, 143, 0.918);
}


.recipeSearch-btn{
    border: 1px solid rgba(255, 255, 255, 0.363);
    color: rgb(255, 255, 255);
}

.recipeSearch-btn:hover {
    background: rgb(40,75,29);
    color: white;
}

.step-btn {
    background: rgb(233, 208, 203);
    color: rgb(66, 65, 65);
    border-radius: 2rem;
}

.step-btn:hover{
    background: none;
    color: rgb(233, 208, 203);
    border: 2px solid rgb(233, 208, 203);
}

@media (max-width: 767px) {
    .recipe-image {
        text-align: center;
    }
    #recipeResult {
        text-align: center;
    }
}